@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

body {
  font-family: 'Aboreto', cursive;
  margin: 0;
  padding: 0;
  background: #0c0c0c; /* Matches Sway Soul's background */
}